* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  position: relative;
  padding: 5px;
  border-radius: 10%;
  margin: 1em;
}

.game-board {
  width: 80%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e8f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.mario {
  position: absolute;
  width: 180px;
  bottom: 0;
}

.gameover {
  position: relative;
  width: 380px;
  bottom: 30%;
  visibility: hidden;
}

.jump {
  animation: jump 500ms ease-out;
}

.cloud {
  position: absolute;
  width: 750px;
  animation: clouds-animation 8s infinite linear;
}

@keyframes clouds-animation {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}
